.yourTurn{
    background-color:green;
}

#p1name, #p2name{
    font-weight:bold;
}

icon, button {
    width:100%;
}

.btn-primary{
    height:60px;
}

.jumbotron p{
    font-size:12px;
    margin-bottom:0px;
}

.p1color {
	color: #b03138;
}

.p2color {
	color: #084596;
}